<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="generate_key" type="submit"> 키 생성 </button>

    <script th:src="@{/assets/js/AxiosHelper.js}"></script>

    <script>
        document.querySelector('#generate_key').addEventListener('click', async e => {
            e.preventDefault();

            // await axiosHelper.post('[[@{/api/generateKey}]]');
        })
    </script>
</body>
</html>